<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>first</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Results</display-name>
    <servlet-name>Results</servlet-name>
    <servlet-class>Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTweets</display-name>
    <servlet-name>GetTweets</servlet-name>
    <servlet-class>GetTweets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTweets</servlet-name>
    <url-pattern>/GetTweets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSession</display-name>
    <servlet-name>SetSession</servlet-name>
    <servlet-class>SetSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSession</servlet-name>
    <url-pattern>/SetSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TranslateText</display-name>
    <servlet-name>TranslateText</servlet-name>
    <servlet-class>TranslateText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranslateText</servlet-name>
    <url-pattern>/TranslateText</url-pattern>
  </servlet-mapping>
</web-app>